In [19]:
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series

In [20]:
gomc_df = pd.read_csv("gomc.csv")

In [39]:
gomc_df.size

6792

In [40]:
gomc_df = gomc_df[gomc_df.country_value != "----------------"]
gomc_df.head(10)
#df = df[df.line_race != 0]

,﻿cid_value,country_value,region_value,rating_value
0,3715278914,India,Asia Pacific,AdWords Business Global Winner
1,8150992559,United States,Americas,AdWords Business Regional Winner Americas
2,5053993634,India,Asia Pacific,AdWords Business Regional Winner Asia Pacific
3,2172973789,Germany,Europe,AdWords Business Regional Winner Europe
4,2867969089,Turkey,Middle East and Africa,AdWords Business Regional Winner Middle East a...
6,5770664389,Lithuania,Europe,Google+ Social Media Marketing Global Winner
7,7022164718,Canada,Americas,Google+ Social Media Marketing Regional Winner...
8,5279343661,India,Asia Pacific,Google+ Social Media Marketing Regional Winner...
9,2177142438,France,Europe,Google+ Social Media Marketing Regional Winner...
10,4923669483,Nigeria,Middle East and Africa,Google+ Social Media Marketing Regional Winner...

In [41]:
gomc_df.size

6792

In [42]:
gomc_df.rating_value.value_counts()

Good                                                                     542
Needs Improvement                                                        424
Strong                                                                   238
Disqualified                                                             227
Poor                                                                     185
AdWords Business Semi-Finalist                                            40
AdWords Business Finalist                                                 15
AdWords Social Impact Finalist                                             7
Google+ Social Media Marketing Finalist                                    7
AdWords Business Regional Winner Asia Pacific                              1
Google+ Social Media Marketing Regional Winner Americas                    1
Google+ Social Media Marketing Regional Winner Middle East and Africa      1
AdWords Business Global Winner                                             1
AdWords Social Impact Award 1st Place Winner                               1
Google+ Social Media Marketing Regional Winner Europe                      1
AdWords Social Impact Award 3rd Place Winner                               1
Google+ Social Media Marketing Global Winner                               1
AdWords Business Regional Winner Americas                                  1
AdWords Business Regional Winner Europe                                    1
AdWords Social Impact Award 2nd Place Winner                               1
Google+ Social Media Marketing Regional Winner Asia and Pacific            1
AdWords Business Regional Winner Middle East and Africa                    1
Name: rating_value, dtype: int64

In [47]:
def unique_values(column):
    return column.unique()

def count_unique_values(column):
    return len(column.unique())

def count_column_values(column):
    return column.value_counts()

# Countries

Number of participating countries:

In [24]:

count_unique_values(gomc_df.country_value)

62

In [25]:
unique_values(gomc_df.country_value)

array(['India', 'United States', 'Germany', 'Turkey', 'Lithuania',
       'Canada', 'France', 'Nigeria', 'Spain', 'Bulgaria', 'Netherlands',
       'Poland', 'Austria', 'Italy', 'Egypt', 'Philippines', 'New Zealand',
       'Australia', 'Uganda', 'Kenya', 'Cameroon', 'Czech Republic',
       'Ghana', 'Finland', 'Croatia', 'Ireland', 'Greece', 'Colombia',
       'Hungary', 'Switzerland', 'United Kingdom', 'Slovakia', 'Armenia',
       'Aruba', 'Singapore', 'Norway', 'Serbia', 'Indonesia', 'Romania',
       'Mauritius', 'Slovenia', 'Belgium', 'Palestinian Territory',
       'Portugal', 'Puerto Rico', 'Japan', 'South Africa', 'Vietnam',
       'Peru', 'Sweden', 'Chile', 'Denmark', 'Ecuador', 'Thailand',
       'Saudi Arabia', 'Morocco', 'Brazil', 'Malaysia', 'Kazakhstan',
       'Macedonia', 'Lebanon', 'Pakistan'], dtype=object)

In [49]:
unique_values(gomc_df.region_value)

array(['Asia Pacific', 'Americas', 'Europe', 'Middle East and Africa'], dtype=object)

In [34]:

def filter_col(df, column, value):
    return df[column == value]
    #return newDf

# European countries

In [44]:
gomc_europe = filter_col(gomc_df, gomc_df.region_value, "Europe")
gomc_europe.head(2)

,﻿cid_value,country_value,region_value,rating_value
3,2172973789,Germany,Europe,AdWords Business Regional Winner Europe
6,5770664389,Lithuania,Europe,Google+ Social Media Marketing Global Winner

In [45]:
count_unique_values(gomc_europe.country_value)

28

In [46]:
unique_values(gomc_europe.country_value)

array(['Germany', 'Lithuania', 'France', 'Spain', 'Bulgaria',
       'Netherlands', 'Poland', 'Austria', 'Italy', 'Czech Republic',
       'Finland', 'Croatia', 'Ireland', 'Greece', 'Hungary', 'Switzerland',
       'United Kingdom', 'Slovakia', 'Armenia', 'Norway', 'Serbia',
       'Romania', 'Slovenia', 'Belgium', 'Portugal', 'Sweden', 'Denmark',
       'Macedonia'], dtype=object)

In [48]:
count_column_values(gomc_europe.country_value)

France            174
Ireland            98
Netherlands        85
Switzerland        70
Germany            56
Spain              38
Austria            35
Greece             32
United Kingdom     31
Italy              27
Finland            26
Poland             26
Czech Republic     23
Belgium            15
Portugal           14
Norway             13
Hungary            11
Armenia             7
Croatia             7
Lithuania           7
Slovenia            6
Bulgaria            3
Denmark             2
Macedonia           1
Sweden              1
Slovakia            1
Romania             1
Serbia              1
Name: country_value, dtype: int64

# Americas

In [51]:
gomc_americas = filter_col(gomc_df, gomc_df.region_value, "Americas")
gomc_americas.head(2)

,﻿cid_value,country_value,region_value,rating_value
1,8150992559,United States,Americas,AdWords Business Regional Winner Americas
7,7022164718,Canada,Americas,Google+ Social Media Marketing Regional Winner...

In [52]:
count_unique_values(gomc_americas.country_value)

9

In [53]:
unique_values(gomc_americas.country_value)

array(['United States', 'Canada', 'Colombia', 'Aruba', 'Puerto Rico',
       'Peru', 'Chile', 'Ecuador', 'Brazil'], dtype=object)

In [54]:
count_column_values(gomc_americas.country_value)

United States    483
Canada            73
Chile             11
Ecuador            5
Peru               4
Aruba              3
Colombia           2
Brazil             2
Puerto Rico        1
Name: country_value, dtype: int64

# Asia Pacific

In [55]:
gomc_asiaP = filter_col(gomc_df, gomc_df.region_value, "Asia Pacific")
gomc_asiaP.head(2)

,﻿cid_value,country_value,region_value,rating_value
0,3715278914,India,Asia Pacific,AdWords Business Global Winner
2,5053993634,India,Asia Pacific,AdWords Business Regional Winner Asia Pacific

In [56]:
count_unique_values(gomc_asiaP.country_value)

11

In [57]:
unique_values(gomc_asiaP.country_value)

array(['India', 'Philippines', 'New Zealand', 'Australia', 'Singapore',
       'Indonesia', 'Japan', 'Vietnam', 'Thailand', 'Malaysia',
       'Kazakhstan'], dtype=object)

In [58]:
count_column_values(gomc_asiaP.country_value)

India          92
Australia      71
Singapore      14
New Zealand     6
Philippines     6
Japan           3
Vietnam         2
Malaysia        2
Kazakhstan      1
Indonesia       1
Thailand        1
Name: country_value, dtype: int64

# Middle East and Africa

In [67]:
gomc_meAf = filter_col(gomc_df, gomc_df.region_value, "Middle East and Africa")
gomc_meAf.head(2)

,﻿cid_value,country_value,region_value,rating_value
4,2867969089,Turkey,Middle East and Africa,AdWords Business Regional Winner Middle East a...
10,4923669483,Nigeria,Middle East and Africa,Google+ Social Media Marketing Regional Winner...

In [68]:
count_unique_values(gomc_meAf.country_value)

14

In [69]:
unique_values(gomc_meAf.country_value)

array(['Turkey', 'Nigeria', 'Egypt', 'Uganda', 'Kenya', 'Cameroon',
       'Ghana', 'Mauritius', 'Palestinian Territory', 'South Africa',
       'Saudi Arabia', 'Morocco', 'Lebanon', 'Pakistan'], dtype=object)

In [70]:
count_column_values(gomc_meAf.country_value)

Nigeria                  34
Mauritius                17
Ghana                    13
South Africa             12
Turkey                    6
Uganda                    5
Kenya                     4
Saudi Arabia              4
Cameroon                  3
Egypt                     2
Morocco                   1
Lebanon                   1
Palestinian Territory     1
Pakistan                  1
Name: country_value, dtype: int64